type project
owners
    Karsten Gebbert
authors 
    Karsten Gebbert
projectUrl
    http://github.com/krgn/Pallet
iconUrl
    https://raw.githubusercontent.com/krgn/Pallet/master/docs/files/img/logo.png
licenseUrl
    http://github.com/krgn/Pallet/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    raft consensus
summary
    An implementation of the Raft concensus algorithm
description
    An implementation of the Raft consensus algorithm


