<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#iris-menu">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">
    <i class="fa fa-circle-o-notch"></i>
    IЯIS
  </a>
</div>

<div id="iris-menu" class="collapse navbar-collapse">
  <ul id="navlist" class="nav navbar-nav">
    <li class="navitem" data-target="project">
      <a href="#">Project</a>
    </li>
    <li class="navitem" data-target="patches">
      <a href="#">Patches</a>
    </li>
    <li class="navitem" data-target="cuelists">
      <a href="#">Cue Lists</a>
    </li>
    <li class="navitem" data-target="player">
      <a href="#">Player</a>
    </li>
    <li class="navitem" data-target="logs">
      <a href="#">Logs</a>
    </li>
    {{#each views}}
    <li class="navitem" data-target="{{this}}">
      <a href="#">{{this}}</a>
    </li>
    {{/each}}
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="visible-xs">XS</a>
      <a class="visible-sm">SM</a>
      <a class="visible-md">MD</a>
      <a class="visible-lg">LG</a>
    </li>
  </ul>
</div>
