type project
owners
    Karsten Gebbert
authors 
    Karsten Gebbert
projectUrl
    http://bitbucket.com/nsynk/iris
iconUrl
    https://raw.githubusercontent.com/krgn/Iris/master/docs/files/img/logo.png
licensee
    http://github.com/krgn/Iris/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    cool funky special shiny
summary
    VVVV Infrastructure
description
    Lorem Ipsum Dolor Sit Amet


