@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Log4Net RabbitMQ Test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The site loaded ...</h2>
        <p>
            This site has been successfully loaded.
        </p>
    </div>
</div>