<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap os="linux" dll="libzmq" target="libzmq.so" />
  <dllmap os="windows" cpu="x86" dll="libsodium" target="i386/libsodium.dll" />
  <dllmap os="windows" cpu="x86" dll="libzmq" target="i386/libzmq.dll" />
  <dllmap os="windows" cpu="x86-64" dll="libsodium" target="amd64/libsodium.dll" />
  <dllmap os="windows" cpu="x86-64" dll="libzmq" target="amd64/libzmq.dll" />
</configuration>
