html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#layout-wrapper {
  height: 100%;
}

#layout {
  display: flex;
  height: 100%;
}

#panel-center {
  flex: 1;
  background-color: lightgray
}

#panel-left {
  background-color: aliceblue
}

#panel-right {
  background-color: lightgoldenrodyellow
}

.dragbar {
  width: 3px;
  position: absolute;
  background-color: black;
  height: 100%;
  cursor: col-resize;
}
