<div class="col-sm-3 col-md-2 sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 editor-wrapper">
  <div class="toolbar-container">
    <div class="toolbar-wrapper"></div>
    <div class="hostbar-wrapper"></div>
  </div>
  <div class="editor"></div>
</div>
