<nav class="navbar navbar-default">
  <div class="container-fluid">
    <form class="navbar-form navbar-left">
      <button class="create btn btn-xs btn-success">
        <i class="fa fa-plus"></i>
        Create Cue
      </button>

      <div class="btn-group save-group hidden">
        <button class="save btn btn-xs btn-danger">
          <i class="fa fa-save"></i>
          Save
        </button>
        <button class="cancel btn btn-xs btn-default">
          <i class="fa fa-reply"></i>
          Cancel
        </button>
      </div>

      <div class="btn-group update-group hidden">
        <button class="update btn btn-xs btn-danger">
          <i class="fa fa-save"></i>
          Update
        </button>
        <button class="cancel btn btn-xs btn-default">
          <i class="fa fa-reply"></i>
          Cancel
        </button>
      </div>
    </form>

    <form class="navbar-form navbar-right">
      <button class="reload btn btn-default btn-xs">
        <i class="fa fa-refresh"></i>
        Patches
      </button>

      <button class="online btn btn-xs btn-danger hidden">
        <i class="fa fa-flash"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;Live&nbsp;&nbsp;&nbsp;
      </button>

      <button class="offline btn btn-xs btn-default hidden">
        <i class="fa fa-moon-o"></i>
        Offline
      </button>
    </form>
    <form class="hostlist navbar-form navbar-right"></form>
  </div>
</nav>
