@import "values";
@import "classes";
@import "icons";

@import "widgets/CuePlayer";
@import "widgets/PanelLeft";
@import "widgets/Log";
@import "widgets/Pin";

*{font-size: 11px; line-height: 14px; margin: 0px; padding: 0px;}

//COLORS
.iris-status-on {
  color: #8CDD2A;
}

.iris-status-off {
  color: #F21300;
}


html, body {
  /*width: 100%;
  height: 100%;*/
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style: normal;
  user-select: none;
  background: #aaa;
}

.iris-output {
  background: #fff;
  border: #D5D3D3 1px solid;
  border-radius: 100px;
  padding: 3px 5px 3px 5px;
}

button {
  cursor: pointer;
  flex: content;
  margin-right: 5px;
  padding: 3px;
  outline: none;

  &:active {
    color: #fff;
  }

  &.uiControll {
    background: none;
    margin-right: 0px;
    border: none;
  }
  &.uiControll:active {
    color:blue;
  }
}

#app-container {
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app-header {
  background: @iris-grey;
  // height: @header-height;
}

#app-footer {
  background: @iris-grey;
  height: @footer-height;
  padding-left: 5px;
}

#app-content {
  background:white;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ui-layout-container {
  flex: 1;

  .ui-layout-center {
    padding: 0;
    display: flex !important;
    flex-direction: column;
  }

  .ui-layout-west {
    background: @iris-grey;
  }
}

#iris-drag-image {
  position: absolute;
  opacity: 1;
  display: none;
}

.iris-tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .iris-tab-name-container {
    background:#989898;
    height: 35px;

    .iris-tab-name {
      height: 35px;
      display: inline-block;
      border: 1px solid black;
      padding: 9px 11px;
      background: @iris-grey;
      cursor: pointer;

      .ui-icon-copy {
        margin-left: 5px;
        margin-right: 3px;
      }

      &:hover {
        border: 2px solid blue;
      }

      &.iris-selected {
        border: 2px solid green;
      }
    }
  }

  .iris-tab-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
  }
}

.iris-workspace {
  flex: 1;
  background: @background-grey;
}

//Icon Sizes
.WidgetWindowControl .icon {
  vertical-align: 0px;
}

//Boxes
.iris-list {
  li {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    // border-bottom: 1px solid #D5D4D4;

    // height: 26px;

    & ul li {
      // border-top: 1px solid #D5D4D4;
      border-bottom: none;
      // margin-left: 25px;
      border-left: none;
    }

    div {
      float: left;
      line-height: 26px;

    }
    .contentEditable {
      padding: 3px;
    }
    .contentEditable:focus {
      outline: none;
      box-shadow: 0px 0px 1px grey;
      border-radius: 5px;
    }
    & ul {
      flex-grow: 1;
    }
  }

  .iris-list-label-row {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  }

  .iris-list-label-row {
    height: 16px;
  }
  .iris-list-label {
    line-height: 16px;
    height: 16px;
    padding-left: 0.5px;
  }
}

.iris-listSorted {
  background: #F3F3F3;
  .iris-row-label {
    line-height: 14px;
    padding-right: 5px;
  }
  & li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #F3F3F3;
    padding: 4px 5px;
      &:nth-child(even) {
      background: #EBEBEB;
      }
      & .atom {
        //Special margins for atoms within this list
        margin: 1px 3px 3px 0px;
      }

  }
}

.atom {
  color: #fff;

  span {
  padding: 2px 4px 2px 2px;
  background: #555;
  border-right: 1px solid #fff;
  &:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 6px;
  }
  &:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  }
  }
}

.iris-list li div:last-child::after,
.iris-listSorted li div:last-child::after {
    content: "";
    display: table;
    clear: both;
    }