<div class="placard-popup"></div>
<div class="placard-header"><h5>Behavior {{Behavior}}</h5></div>
<textarea class="form-control glass placard-field"></textarea>
<div class="placard-footer">
  <a class="placard-cancel" href="#">Cancel</a>
  <button class="btn btn-primary btn-xs placard-accept" type="button">Save</button>
</div>
