<a class="item">
  <span class="name" data-toggle="tooltip" data-placement="top" title="Double click to edit.">{{Name}}</span>
  <div class="btn-group pull-right">
    <button type="button" class="edit-cue btn btn-default btn-xs">
      <span><i class="fa fa-cog"></i></span>
    </button>
    <button type="button" class="delete-cue btn btn-default btn-xs">
      <span><i class="fa fa-trash"></i></span>
    </button>
  </div>
</a>
<a class="well well-sm edit-dialog">
  <div class="row">
    <div class="col-sm-12">
      <input class="form-control" type="text" value="{{Name}}"/>
    </div>
    <div class="col-sm-12">
      <button type="button" class="update-name btn btn-primary btn-xs pull-right">
        Save
      </button>
      <button type="button" class="abort btn btn-default btn-xs pull-right">
        Cancel
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</a>
<a class="well well-sm delete-dialog">
  <span class="pull-right">
    Really?
    <button type="button" class="abort btn btn-default btn-xs">
      Cancel
    </button>
    <button type="button" class="destroy-cue btn btn-danger btn-xs">
      Delete
    </button>
  </span>
  <div class="clearfix"></div>
</a>
