redirects: on
source https://nuget.org/api/v2

group Main
  source https://nuget.org/api/v2
  nuget Npm.js
  nuget FSharp.Core redirects:force
  nuget Fuchu
  nuget FsCheck
  nuget FSharpLint
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FsPickler
  nuget FSharpx.Extras
  nuget FsControl
  nuget ZeroMQ
  nuget Argu
  nuget FsPickler
  nuget FsPickler.Json
  nuget Suave
  nuget Fleck
  nuget LibGit2Sharp >= 0.22.0-pre20151023210959 prerelease
  nuget LibGit2Sharp.NativeBinaries
  nuget FSharp.Configuration

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FSharp.Core redirects:force
  nuget FsPickler
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl
  nuget ZeroMQ
  nuget Argu
  nuget FsPickler

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FSharp.Core redirects:force
  nuget Fuchu
  nuget Fuchu.FsCheck
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FsPickler
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl