redirects: on
source https://nuget.org/api/v2

group Main
  source https://nuget.org/api/v2
  nuget FSharp.Core redirects:force
  nuget Expecto
  nuget Expecto.PerfUtil
  nuget Expecto.FsCheck
  nuget FsCheck
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FSharpx.Extras
  nuget FsControl
  nuget Suave
  nuget Fleck
  nuget LibGit2Sharp >= 0.22.0-pre20151023210959 prerelease
  nuget LibGit2Sharp.NativeBinaries
  nuget FSharp.Configuration
  nuget ZeroMQ
  nuget Mono.Posix
  nuget VVVV.Core
  nuget VVVV.Hosting
  nuget VVVV.PluginInterfaces
  nuget VVVV.SlimDX
  nuget VVVV.System.ComponentModel.Composition.Codeplex
  nuget VVVV.Utils
  nuget VVVV.Utils3rdParty
  nuget VVVV.UtilsIL
  nuget Newtonsoft.Json
  nuget Fable.JsonConverter
  nuget Fable.Core
  nuget Hopac >= 0.3.23
  nuget Disruptor >= 3.3.6-alpha --prerelease

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FSharp.Core redirects:force
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget FSharp.Core redirects:force
  nuget Expecto
  nuget Expecto.PerfUtil
  nuget Expecto.FsCheck
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl
