redirects: on
source https://nuget.org/api/v2

group Main
  source https://nuget.org/api/v2
  nuget Npm.js
  nuget FSharp.Core redirects:force
  nuget Fuchu
  nuget Fuchu.FsCheck
  nuget FsCheck
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FSharpx.Extras
  nuget FsControl
  nuget Argu
  nuget Suave
  nuget Fleck
  nuget LibGit2Sharp >= 0.22.0-pre20151023210959 prerelease
  nuget LibGit2Sharp.NativeBinaries
  nuget FSharp.Configuration
  nuget ZeroMQ

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FSharp.Core redirects:force
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl
  nuget Argu

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FSharp.Core redirects:force
  nuget Fuchu
  nuget Fuchu.FsCheck
  nuget XUnit
  nuget NUnit
  nuget Gallio
  nuget FSharpx.Extras
  nuget FSharpPlus
  nuget FsControl
