source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Fleck
nuget LibGit2Sharp
nuget LibGit2Sharp.NativeBinaries
nuget WebSharper
nuget FsPickler
nuget FsPickler.Json

github fsharp/FAKE modules/Octokit/Octokit.fsx
