source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

nuget Fleck
nuget MsgPack.Cli
nuget LibGit2Sharp
nuget NNanomsg

nuget FunScript
nuget FunScript.Rx
nuget FunScript.TypeScript.Binding.jquery
nuget FunScript.TypeScript.Binding.routie
nuget FunScript.TypeScript.Binding.fabricjs

github fsharp/FAKE modules/Octokit/Octokit.fsx
