source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Fleck
nuget MsgPack.Cli
nuget LibGit2Sharp
nuget NNanomsg
nuget Akka
nuget Akka.Cluster prerelease
nuget Akka.FSharp
nuget Akka.TestKit
nuget Akka.TestKit.NUnit

nuget WebSharper

github fsharp/FAKE modules/Octokit/Octokit.fsx
