<div class="cuelist-cue">
  <span class="cuelist-cue-name">{{Name}}</span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="remove-cue btn btn-default">
        <i class="fa fa-remove"></i>
      </button>
      <button type="button" class="play-cue btn btn-default">
        <i class="fa fa-play"></i>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
