<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close dismiss"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Commit Cluster Settings</h4>
    </div>
    <div class="modal-body">
      <span class="warning">
        <p>You're about to commit the settings to all machines specified.</p>
        <p><strong>Caution:</strong> this will erase all other repliaction
        configuration on those hosts irretrievably.</p>
      </span>
      <div class="status">
        <img class="spinner" src="css/select2-spinner.gif" >
        <span class="error hidden">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <span class="success hidden">
          <i class="fa fa-thumbs-o-up"></i>
          Success!
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="dismiss btn btn-default">Close</button>
      <button type="button" class="commit btn btn-danger">Commit Settings</button>
    </div>
  </div>
</div>
