<strong>IP:</strong> {{IP}}
&nbsp;&nbsp;
<strong>HostName:</strong> {{HostName}}
<div class="pull-right controls">
  <div class="btn-group project-group">
    <button data-target-ip="{{IP}}" class="delete btn btn-xs btn-default">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
<div class="clearfix"></div>
