<a class="item">
  <span class="name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to select.">
    {{Name}}
  </span>
  <div class="btn-group pull-right">
    <button type="button" class="edit-cuelist btn btn-default btn-xs">
      <span><i class="fa fa-cog"></i></span>
    </button>
    <button type="button" class="load-cuelist btn btn-default btn-xs">
      <span><i class="fa fa-play"></i></span>
    </button>
  </div>
</a>
