<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close dismiss"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Delete »{{Name}}«</h4>
    </div>
    <div class="modal-body">
      <span class="warning">
        <p>You're about to delete the <i>{{Name}}</i>.</p>
        <p><strong>Caution:</strong> this cannot be undone.</p>
      </span>
      <div class="status">
        <img class="spinner" src="css/select2-spinner.gif" >
        <span class="error hidden">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="dismiss btn btn-default">Close</button>
      <button type="button" class="delete btn btn-danger">Delete</button>
    </div>
  </div>
</div>
