<div class="page-header">
  <div class="pull-left">
    <h1>Project</h1>
  </div>
  <div class="btn-group project-group pull-right">
    <button class="new-project btn btn-sm btn-success">
      <i class="fa fa-plus"></i>
      New
    </button>
  </div>
  <div class="clearfix"></div>
</div>

<div class="current">
  <div class="inlay">No Project loaded</div>
</div>

<div class="page-header">
  <div class="pull-left">
    <h1>Cluster</h1>
  </div>
  <div class="project-group pull-right">
    <button class="new-member disabled hidden btn btn-sm btn-success">
      <i class="fa fa-plus"></i>
      Member
    </button>
    &nbsp;
    <button class="commit-cluster hidden btn btn-sm btn-danger">
      <i class="fa fa-plus"></i>
      Commit Configuration
    </button>
    <button class="revert-cluster hidden btn btn-sm btn-danger">
      <i class="fa fa-minus"></i>
      Revert Configuration
    </button>
  </div>
  <div class="clearfix"></div>
</div>

<div class="cluster col-xs-12">
  <div class="inlay">No Cluster Members defined</div>
</div>

<div class="page-header">
  <h4>Recent Projects</h4>
</div>
<div class="recent col-xs-12"></div>
<div class="modals"></div>
