html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #EBEBEB;
}

#parent{
  height: calc(100% - 60px);
  width: 100%;
  overflow: hidden;
}

#child{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  padding-bottom: 17px;
}

h3 {
    margin: 30px 0 0 0;
}

p {
    margin: 0
}

pre {
    margin: 0;
    color : #555;
}

.big {
  width: 30000px;
  height: 30000px;
}

.b {
    position: fixed;;
    left: 30px;
    top: 90px;
    background: blue;
    z-index: 1;
}

.b .element {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #555555;
    border-radius: 5px;
}

.b .element.first {
    top: 0px;
    left: 0px;
}

.item {
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    outline: 1px solid blue;
}

.widgetList {
    display: inline-block;
    position: relative;
    vertical-align: top;
    min-width: 300px;
}

.widgetResizable {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #D5D3D3;
    background: #fff;
}

.widget-header {
    background: #EBEBEB;
    height: 35px;
    padding-left: 10px;
    line-height: 35px;
    border-bottom: 1px solid #D5D3D3;
    cursor: move;
}

.widget-header:hover {
  background-color:#F9F9F9;
  transition: 0.1s;
}

.widget-body {
    width: auto;
    height: 300px;
    overflow: auto;
}

.widget-body ul,li {
  padding: 0px;
  margin: 0px;
}

.widget-body li, .list {
    height: 35px;
    background-color: #F3F3F3;
    list-style: inside;
    line-height: 35px;
    color:#484848;
    padding-left: 10px;
}

.list {
  background-color: #fff;

}

.widget-body li:nth-child(2n) {
  background-color: #EBEBEB;
}

.ui-widget-content, .ui-widget.ui-widget-content {
  border: none;
}

.ui-tabs .ui-tabs-nav {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 10px;
}


.ui-tabs {
  padding: none !important;
}

.ui-corner-all {
  border-radius: 0px;
}

.ui-widget-header {
  border: none;
  height: 30px;
}

#tabs {
  height: 100%;
}

.ui-tabs .ui-tabs-panel {
  height: 100%;
}

.tab {
  height: 25px;
  padding-top: 10px;
  line-height: 25px;
  display: none;
}

.tab-item.active {
  background: #fff;
}

.tab-item {
  background-color: #EBEBEB;
  height: 25px;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  border-top: 1px solid #D5D3D3;
  border-left: 1px solid #D5D3D3;
  border-right: 1px solid #D5D3D3;
}


.widget-header .close {
  position: absolute;
  right: 0px;
  height: 35px;
  width: 20px;
  text-align: center;
  opacity: 0;
  transition: 0.1s;
}

.close:hover {
  opacity: 0.7!important;
  cursor: pointer;
}

.widget-header:hover .close {
  opacity: 1;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 250px;
}

.selected {
  border: 1px solid #f0f;
  border-radius: 14px;
}

.child {
  padding: 0px 10px 0px 10px;
  height: 25px; /* Or whatever */
  background: #555;
  color:#fff;
  line-height: 25px;
  border-left: 1px solid #fff;
  /* width: 35px; */
  overflow: hidden;
}

.end {
  padding: 0px;
  background: none;
  border: 1px #555 solid;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-left: none;
  width: 14px;
  height: 25px;
  background-color: #fff;
  height: calc(143px - 120px);
  transition: 0.1s;
}

.end img {
  /* position: absolute; */
  /* left: 4px; */
  /* top: 8px; */
  transition: 0.1s;
  margin-left: 4px;
}

.end img:hover {
  cursor: pointer;
}

.child:nth-child(2) {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: none;
}

.child:nth-child(2):hover{
  cursor: move;
}

.child:last-child {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.child.re {
  padding: 0px;
  /* width: 70px; */
}

.child.re.right {
  padding: 0px;
  /* width: 150px; */
}


.child.re span {
  display: block;
  background-color: #6E6E6E;
  margin-top: 1px;
  line-height: 16px;
  padding:0px 5px 0px 10px;

}

.child.re span:hover {
  background-color: #7F7F7F;
  /*cursor: text;*/
  transition: 0.1s;
}

.child.re:first-child span {
  text-align: right;
}

.child.re span:first-child {
  line-height: 25px;
  margin: 0px;
  background: none;
}

.wide {

}

.shadow {
  height: 20px;
  width: 13px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  background: url(shadow.png)
}

.horiz-shadow {
  height: 7px;
  width: 100%;;
  background-color: #F0F;
  position: absolute;
  bottom: 0px;
  background: url(horiz-shadow.png)
}

.parameter_wrapper {
  width: 100%;
  height: 300px;
  bottom: 0;
  background: #ff00ff;
  z-index: 100;
}

.child input {
  background: #555555;
  border: none;
  width: 35px;
  color: #fff;
  cursor: url(cursor_step.png), auto;
}



.val:focus {
  cursor: text;
}


.tooltip {
  height: 100px;
  background-color: #EBEBEB;
  position: absolute;
  bottom: 35px;
  right: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  transition: 0.8s;
  z-index: 100000000;
}

.ui-slider-vertical {
  border: 1px;
}

#graph, .list-header  {
  width: 100%;
  line-height: 35px;
  padding-left: 10px;
  height: 35px;
  background-color: #EBEBEB;
  border: 1px solid #D5D3D3;
  position: relative;
}

#graph img {
  position: absolute;
  left: 45px;
  top: 10px;
}

.ui-accordion-header { background-color: #fff;   border: 1px solid #D5D3D3; color: #000}
.ui-accordion-header.ui-state-active { background-color: #fff;   border: 1px solid #D5D3D3;}

.in {
  background-color: #EBEBEB;
  width: 100%;
  padding: 5px 5px 5px 20px;
}

.list-header {
  background-color: #fff;
  border-top: none;
}

.out {
  background-color: #F3F3F3;
  width: 100%;
  padding: 5px 5px 5px 20px;
}

.out img {
  padding-left: 5px;
}

.child.re {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: calc(145px - 120px);
  transition: 0.1s;
}

.vector2 {
}

.scroller {
  width: 4px;
  height: 60%;
  background: #555;
  margin: 25px auto 30px auto;
  transition: 0.1s;
  opacity: 0;
}

.scroller:hover {
  opacity: 1;
}

.ui-accordion .ui-accordion-content {
  margin: 0px;
  padding: 0px;

}