@import "values";
@import "icons";
@import "classes";
@import "PanelLeft";
@import "Pin";

* {
  font-size: 11px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
}

html, body {
  /*width: 100%;
  height: 100%;*/
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style: normal;
  user-select: none;
  background: #aaa;
}

.iris-output {
  background: #fff;
  border: #D5D3D3 1px solid;
  border-radius: 100px;
  padding: 3px 5px 3px 5px;
}

#app-container {
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app-header {
  background: $iris-grey;
  min-height: 2.20rem;
  height: 25px;
}

#app-logo .navbar-item {
  padding: 10px 10px 28px 10px;
}

.navbar-dropdown {
  min-width: 120px;
}

.navbar-item {
  &.columns {
    margin: 2px;
    padding: 2px;
    .column {
      margin: 2px;
      padding: 2px;
    }
    .shortcut {
      padding-left: 4px;
      color: grey;
    }
  }
  &.columns:hover {
    background: $iris-grey;
  }
}

#app-logo img {
  height: 25px;
}

#app-footer {
  background: $iris-grey;
  height: $footer-height;
  padding-top: $footer-padding-top;
}

#app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ui-layout-container {
  flex: 1;

  .ui-layout-center {
    padding: 0;
    display: flex !important;
    flex-direction: column;
    background-color: $background-grey !important;
  }

  .ui-layout-west {
    background: $iris-grey;
  }

  .ui-layout-east {
    background: $iris-grey;
  }
}

#iris-drag-image {
  position: absolute;
  opacity: 0.8;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: black;
  color: white;
  width: 80px;
  height: 80px;
}

.iris-tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tabs {
    background: $tab-background;
    margin-bottom: 0; // Override Bulma

    .iris-button {
      margin-left: 10px;
    }

    .inactive {
      background: $tab-background;
    }

    .inactive:hover {
      background: white;
    }
  }

  .iris-tab-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// .iris-workspace {
//   flex: 1;
// }

.iris-widget {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  .iris-draggable-handle {
    cursor: move;
    margin: 0;
    height: 35px;
    padding: 7px;
    background: $iris-grey;
    display: flex;
    align-items: baseline;

    & > :first-child {
      margin-right: 10px;
    }

    // Push other elements to the sides
    .iris-title-bar {
        flex: 1;
    }

    //Icon Sizes
    .iris-window-control .iris-icon {
      vertical-align: 0px;
    }
  }

  .iris-widget-body {
    flex: 1;
    overflow: scroll;
  }
}

.warning {
  background-color: $warning;
}

.iris-inspector {
  .bar {
    height: 25px;
    padding-left: 6px;
    background-color: lightgrey;

    span.headline {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 25px;
    }

    .buttons {
      height: 25px;
    }

    button {
      height: 100%;
      width: 40px;
    }
  }

  .headline {
    font-size: 1.2em;
    font-weight: bold;
  }

  .sub-table-headers {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
  }

  .iris-button {
    width: 10px;
    height: 10px;
  }

  .columns {
    margin: 4px 0;
  }

  .column {
    padding: 2px 5px 2px 5px !important;
  }

  .empty {
    padding-top: 10px;
    text-align: center;
  }
}

.iris-file-browser {
  height: 100%;

  .breadcrumb {
    height: 20px;
    background: #d0d0d0;
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .machines {
    height: 100%;

    .machine {
      padding-left: 10px;
      min-height: 20px;
      margin-bottom: 0.5em;
      border-bottom: 1px solid $iris-grey;

      .headline {
        margin-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
      }

      .directories {
        padding-left: 10px;
        margin: 1px 0 1px 0;
        .directory {
          cursor: pointer;
          .icon {
            height: 18px;
            margin-right: 0;
          }
          .children {
            padding-left: 15px;
          }
        }
      }
    }
  }

  .fb-panel {
    padding: 4px;
  }

  .fb-main {
    border-left: 1px solid $iris-grey;
    border-right: 1px solid $iris-grey;
    padding: 4px;

    background: $iris-grey;
    .files {
      .file {
        cursor: pointer;
        background: white;
        border-bottom: 1px solid $iris-grey;
      }
    }
  }
}
