@import "values";
@import "icons";
@import "classes";
@import "PanelLeft";
@import "Pin";

* {
  font-size: 11px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
}

html, body {
  /*width: 100%;
  height: 100%;*/
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style: normal;
  user-select: none;
  background: #aaa;
}

.iris-output {
  background: #fff;
  border: #D5D3D3 1px solid;
  border-radius: 100px;
  padding: 3px 5px 3px 5px;
}

#app-container {
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app-header {
  background: $iris-grey;
  min-height: 2.20rem;
  height: 25px;
}

#app-logo .navbar-item {
  padding: 10px 10px 28px 10px;
}

.navbar-dropdown {
  min-width: 120px;
}

.navbar-item {
  &.columns {
    margin: 2px;
    padding: 2px;
    .column {
      margin: 2px;
      padding: 2px;
    }
    .shortcut {
      padding-left: 4px;
      color: grey;
    }
  }
  &.columns:hover {
    background: $iris-grey;
  }
}

#app-logo img {
  height: 25px;
}

#app-footer {
  background: $iris-grey;
  height: $footer-height;
  padding-top: $footer-padding-top;
}

#app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ui-layout-container {
  flex: 1;

  .ui-layout-center {
    padding: 0;
    display: flex !important;
    flex-direction: column;
    background-color: $background-grey !important;
  }

  .ui-layout-west {
    background: $iris-grey;
  }

  .ui-layout-east {
    background: $iris-grey;
  }
}

#iris-drag-image {
  position: absolute;
  opacity: 0.8;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: black;
  color: white;
  width: 80px;
  height: 80px;
}

.iris-tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tabs {
    background: $tab-background;
    margin-bottom: 0; // Override Bulma

    .iris-button {
      margin-left: 10px;
    }

    .inactive {
      background: $tab-background;
    }

    .inactive:hover {
      background: white;
    }
  }

  .iris-tab-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// .iris-workspace {
//   flex: 1;
// }

.iris-widget {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  .iris-draggable-handle {
    cursor: move;
    margin: 0;
    height: 35px;
    padding: 7px;
    background: $iris-grey;
    display: flex;
    align-items: baseline;

    & > :first-child {
      margin-right: 10px;
    }

    // Push other elements to the sides
    .iris-title-bar {
        flex: 1;
    }

    //Icon Sizes
    .iris-window-control .iris-icon {
      vertical-align: 0px;
    }
  }

  .iris-widget-body {
    flex: 1;
    overflow: hidden;
  }

  .scrollable-container {
    overflow: auto;
    height: 100%;
  }

  .m-tree {
    @extend .scrollable-container;
  }

  .iris-players {
    @extend .scrollable-container;
  }

  .iris-cues {
    @extend .scrollable-container;
  }

  .iris-cuelists {
    @extend .scrollable-container;
  }

  .iris-cluster {
    @extend .scrollable-container;
  }

  .iris-clients {
    @extend .scrollable-container;
  }

  .iris-sessions {
    @extend .scrollable-container;
  }
}

.warning {
  background-color: $warning;
}

.iris-inspector {
  .bar {
    height: 25px;
    padding-left: 6px;
    background-color: lightgrey;

    span.headline {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 25px;
    }

    .buttons {
      height: 25px;
    }

    button {
      height: 100%;
      width: 40px;
    }
  }

  .headline {
    font-size: 1.2em;
    font-weight: bold;
  }

  .sub-table-headers {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
  }

  .iris-button {
    width: 10px;
    height: 10px;
  }

  .columns {
    margin: 4px 0;
  }

  .column {
    padding: 2px 5px 2px 5px !important;
  }

  .empty {
    padding-top: 10px;
    text-align: center;
  }
}

.asset-browser {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;

  .left-panel {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 170px;
    margin-bottom: 0;
  }

  .right-panel {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    margin-bottom: 0;
  }

  .inlay {
    height: 100%;
    display: flex;
    flex-flow: column;

    .header {
      line-height: 25px;
      height: 25px;
      background: #d0d0d0;
      font-weight: bold;
      padding-left: 10px;
      font-size: 1.2em;

      .bread {
        line-height: 25px;
        height: 25px;

        .crumb:after {
          padding: 0 5px 0 5px;
          content: ">"
        }

        .crumb:last-child:after {
          content: "";
        }
      }
    }

    .body {
      flex: 3;
    }
  }

  .center {
    height: 100%;
    flex-grow: 3;
    border-left: 1px solid $iris-grey;
    border-right: 1px solid $iris-grey;

    .body {
      background: #ddd;
    }
  }

  .files {
    .file {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      background: white;
      border-bottom: 1px solid $iris-grey;
      .file-details {
        flex-grow: 1;
      }
      .controls {
        height: 24px;
        width: 24px;
        line-height: 24px;
        padding-right: 5px;
        i {
          height: 18px;
        }
      }
    }
  }

  .file-info {
    .info {
      margin-top: 10px;
      padding: 10px;
      .columns {
        margin-left: 0;
        margin-right: 0;
      }
      .column {
        padding-top: 2px;
        padding-bottom: 2px;
        &:not(.is-one-fifth) {
          width: 219px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .machines {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
    justify-content: flex-start;

    .machine {
      min-height: 30px;
      width: 100%;
      border-bottom: 1px solid $iris-grey;
      padding: 8px 0 0 10px;
      transition: all 0.4s;

      &.is-open {
        flex-grow: 1;
        height: 100%;
      }

      .machine-details {
        display: flex;
        flex-flow: column;
        height: 100%;

        .machine-icon {
          flex-basis: 20px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .directory-list {
          flex-grow: 1;

          .directories {
            .directory:before {
              content: "\00a0\00a0";
            }
            .directory {
              cursor: pointer;

              &.has-children:before {
                content: "⏵";
              }

              &.is-open:before {
                content: "⏷" !important;
              }

              .is-selected {
                font-weight: bold;
              }

              .icon {
                height: 18px;
                margin-right: 0;
              }
              .children {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}
