@import "values";
@import "icons";
@import "classes";
@import "PanelLeft";
@import "Pin";

* {
  font-size: 11px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
}

html, body {
  /*width: 100%;
  height: 100%;*/
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style: normal;
  user-select: none;
  background: #aaa;
}

.disco-output {
  background: #fff;
  border: #D5D3D3 1px solid;
  border-radius: 100px;
  padding: 3px 5px 3px 5px;
}

#app-container {
  min-height: 100vh;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app-header {
  background: $disco-grey;
  min-height: 2.20rem;
  height: 25px;

  #app-logo {
    height: 35px;
    min-height: unset;
  
    .navbar-item {
      padding: 10px;
      height: 35px;
    }

   .navbar-burger{
      height:35px;
    }
  } 
}

.navbar-dropdown {
  min-width: 120px;
}

.navbar-menu {
  @media screen and (max-width: 1023px ) {
    z-index: 99;
    // height: 200px;
    overflow: scroll;
    position: relative;
    min-height: 200px;
    height: 200px;
  }
}

.navbar-item {
  &.columns {
    margin: 2px;
    padding: 2px;
    .column {
      margin: 2px;
      padding: 2px;
    }
    .shortcut {
      padding-left: 4px;
      color: grey;
    }
  }
  &.columns:hover {
    background: $disco-grey;
  }
}

#app-logo img {
  height: 25px;
}

#app-footer {
  background: $disco-grey;
  height: $footer-height;
  padding-top: $footer-padding-top;
}

#app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ui-layout-container {
  flex: 1;

  .ui-layout-center {
    padding: 0;
    display: flex !important;
    flex-direction: column;
    background-color: $background-grey !important;
  }

  .ui-layout-west {
    background: $disco-grey;
  }

  .ui-layout-east {
    background: $disco-grey;
  }
}

.modal-content {
  width: unset;                 // should not have a fixed width
  min-width: 640px;             // but a min-width of 640px so older dialogs look the same
  overflow: unset;              // no scrollbars in modals please
}

#disco-drag-image {
  position: absolute;
  opacity: 0.8;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: black;
  color: white;
  width: 80px;
  height: 80px;
}

.disco-tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tabs {
    background: $tab-background;
    margin-bottom: 0; // Override Bulma

    .disco-button {
      margin-left: 10px;
    }

    .inactive {
      background: $tab-background;
    }

    .inactive:hover {
      background: white;
    }

  }

  .disco-tab-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// .disco-workspace {
//   flex: 1;
// }

.disco-widget {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  .disco-draggable-handle {
    cursor: move;
    margin: 0;
    height: 35px;
    padding: 7px;
    background: $disco-grey;
    display: flex;
    align-items: baseline;

    & > :first-child {
      margin-right: 10px;
    }

    // Push other elements to the sides
    .disco-title-bar {
      flex: 1;

      .disco-icon {
        width: 10px;
        min-width: 10px;
        cursor: initial;
        height: 10px;
        padding: 5px;
        margin-right: 5px;
        border: 1px solid #aaa;
        border-radius: 3px;
        background: white;
      }
    }

    //Icon Sizes
    .disco-window-control .disco-icon {
      vertical-align: 0px;
    }
  }

  .disco-widget-body {
    flex: 1;
    overflow: hidden;
  }

  .scrollable-container {
    overflow: auto;
    height: 100%;
  }

  .m-tree {
    @extend .scrollable-container;
  }

  .disco-players {
    @extend .scrollable-container;
  }

  .disco-cues {
    @extend .scrollable-container;
  }

  .disco-cuelists {
    @extend .scrollable-container;
  }

  .disco-cluster {
    @extend .scrollable-container;
  }

  .disco-clients {
    @extend .scrollable-container;
  }

  .disco-sessions {
    @extend .scrollable-container;
  }
}

.warning {
  background-color: $warning !important;
}

.disco-inspector {
  .bar {
    height: 25px;
    padding-left: 6px;
    background-color: lightgrey;

    span.headline {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 25px;
    }

    .buttons {
      height: 25px;
    }

    button {
      height: 100%;
      width: 40px;
    }
  }

  .headline {
    font-size: 1.2em;
    font-weight: bold;
  }

  .sub-table-headers {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
  }

  .disco-button {
    width: 10px;
    height: 10px;
  }

  .columns {
    margin: 4px 0;
  }

  .column {
    padding: 2px 5px 2px 5px !important;
  }

  .empty {
    padding-top: 10px;
    text-align: center;
  }
}

.modal-file-chooser {
  min-width: 800px;
  .field {
    margin-top: 10px;
  }
}

//  must be top-level so styles also apply when sorting
.asset-browser-selected-file {
  border: 1px solid #d0d0d0;
  background: $disco-grey;
  border-radius: 4px;
  margin: 2px;
  line-height: 20px;
  button {
    height: 20px;
    width: 20px;
    padding: 0 2px 0 2px;
    margin-right: 5px;
  }
}

.asset-browser {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;

  .left-panel {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 170px;
    margin-bottom: 0;
  }

  .right-panel {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    margin-bottom: 0;
  }

  .inlay {
    height: 100%;
    display: flex;
    flex-flow: column;

    .header {
      line-height: 25px;
      height: 25px;
      background: #d0d0d0;
      font-weight: bold;
      padding-left: 10px;
      font-size: 1.2em;

      .bread {
        line-height: 25px;
        height: 25px;

        .crumb:after {
          padding: 0 5px 0 5px;
          content: ">"
        }

        .crumb:last-child:after {
          content: "";
        }
      }
    }

    .body {
      flex: 3;
    }
  }

  .center {
    flex-grow: 3;
    border-left: 1px solid $disco-grey;
    border-right: 1px solid $disco-grey;

    .body {
      background: #ddd;
    }
  }

  .files {
    .file {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      background: white;
      border-bottom: 1px solid $disco-grey;
      .file-details {
        flex-grow: 1;
      }
      .controls {
        height: 24px;
        line-height: 24px;
        padding-right: 5px;
        i {
          height: 18px;
        }
        i:after {
          margin-left: 5px;
        }
      }
    }
  }

  .file-info {
    flex-grow: 1;
    .info {
      margin-top: 10px;
      padding: 10px;
      .columns {
        margin-left: 0;
        margin-right: 0;
      }
      .column {
        padding-top: 2px;
        padding-bottom: 2px;
        &:not(.is-one-fifth) {
          width: 219px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .selected-files {
    flex-grow: 1;
  }

  .machines {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
    justify-content: flex-start;

    .machine {
      min-height: 30px;
      width: 100%;
      border-bottom: 1px solid $disco-grey;
      padding: 8px 0 0 10px;
      transition: all 0.4s;

      &.is-open {
        flex-grow: 1;
        height: 100%;
      }

      .machine-details {
        display: flex;
        flex-flow: column;
        height: 100%;

        .machine-icon {
          flex-basis: 20px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .directory-list {
          flex-grow: 1;

          .directories {
            .directory:before {
              content: "\00a0\00a0";
            }
            .directory {
              cursor: pointer;

              &.has-children:before {
                content: "⏵";
              }

              &.is-open:before {
                content: "⏷" !important;
              }

              .is-selected {
                font-weight: bold;
              }

              .icon {
                height: 18px;
                margin-right: 0;
              }
              .children {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.disco-cluster {
  .headline {
    padding: 5px;
    margin: 5px 0 5px;
    h2 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
  .button {
    height: 24px;
    width: 24px;
  }
  .is-current {
    background: #FAFAD2;
  }
  .is-leader {
    border: 1px solid #d0d0d0;
    background: $disco-grey;
  }
  table {
    thead {
      border-bottom: 1px solid #d0d0d0;
      th {
        padding: 5px;
      }
    }
    tbody > tr {
      border-bottom: 1px solid $disco-grey;
      td {
        padding: 5px;
      }
      &:hover {
        background: #fafafa;
      }
    }
  }
}
