@import "values";

$base-height: 25px;
$row-height: 17px;
$pin-width: 120px;
$arrow-size: 14px;
$odd-row: #F3F3F3;
$even-row: #EBEBEB;

.iris-cue {
  border-left: 3px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top: 1px solid lightgray;
  &.iris-highlight {
    // When hightlighted we want a stronger top border
    border-top-width: 2px;
  }
  &.iris-forbidden {
    // When hightlighted we want a stronger top border
    cursor: not-allowed;
    border-color: $pin-border-offline !important;
    background-color: $warning !important;
  }
  &.iris-cue-selected {
    background-color: $highlight-lightblue;
    border-color: $highlight-lightblue
  }
}

.iris-current-cue {
  border: 2px solid red !important;
}

.iris-cuegroup {
  & .iris-cuegroup-selected {
    background-color: $highlight-lightblue;
    border-color: $highlight-lightblue
  }
}

.iris-graphview {
  background: $odd-row;
  height: 100%;
  overflow: auto;
  > li {
    padding: 4px 5px;
    background: $odd-row;
    &:nth-child(even) {
      background: $even-row;
    }
  }
}

.iris-pingroup {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  .iris-pingroup-name {
    margin: 5px;
  }
}

.iris-pin {
  display: inline-block;
  // margin: 1px 3px 3px 0px;
  table {
    border-spacing: 1px;
    border-collapse: separate;
  }
  &.iris-pin-output {
    th, td {
      border: 1px solid black;
    }
    .iris-pin-child {
      td {
        color: black;
        background-color: $pin-output-bg-color;
      }
      .icon-control {
        color: black;
      }
    }
  }
  // Default sizes of IOBoxes according to data type
  .iris-boolean {
    width: 50px;
  }
  .iris-number {
    width: 100px;
  }
  .iris-string {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type="color"] {
    opacity: 0;
    display: block;
    width: 50px;
    height: 14px;
    border: none;
  }

  .iris-color-wrapper {
    float: left;
  }
}

.iris-pin-child {
  td {
    cursor: default;
    vertical-align: middle;
    font-weight: normal;
    padding: 1px 4px 1px 2px;
    color: #fff;
    background-color: $pin-bg-color;
    &:first-child {
      padding-left: 6px;
      // border-right: white solid 1px
    }
    &:hover {
      background-color: $pin-bg-color-hover;
      transition: 0.1s;
    }
  }

  .icon-control {
    color: white;
    width: $arrow-size;
    height: $arrow-size;
    padding: 1px 0 0 0 ;
  }

  &:first-child {
    td:first-child {
      cursor: move;
      border-top-left-radius: 10px;
    }
    td:last-child {
      border-top-right-radius: 10px;
    }
  }

  &:last-child {
    td:first-child {
      border-bottom-left-radius: 10px;
    }
    td:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}

.iris-pin-end {
  padding: 0px;
  background: none;
  border: 1px $pin-bg-color solid;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-left: none;
  width: 14px;
  /*height: 23px;*/
  background-color: #fff;
  transition: 0.1s;

  img {
    /* position: absolute; */
    /* left: 4px; */
    /* top: 8px; */
    transition: 0.1s;
    margin-left: 2px;
    width: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}

// Special colors: selected, dirty, persisted, offline
.iris-pin-selected {
  .iris-pin-child {
    td {
      background-color: $highlight-lightblue !important;
    }
  }
}


.iris-dirty {
  .iris-pin-child {
    td {
      background-color: $pin-bg-color-dirty;
      &:hover {
        background-color: $pin-bg-color-dirty-hover;
      }
    }
  }
}

.iris-non-persisted {
  .iris-pin-child {
    td {
      border: 2px $pin-border-persisted solid;
    }
  }
}

.iris-offline {
  .iris-pin-child {
    td {
      border: 2px $pin-border-offline solid;
    }
  }
}
