$iris-grey: #EBEBEB;
$background-grey: #595959;
$header-height: 35px;
$footer-height: 30px;
$footer-padding-top: 9px;
$highlight-blue: #4BA1F9;
$highlight-lightblue: lightblue;
$status-on: #8CDD2A;
$status-off: #F21300;
$status-warning: #FF9966;
$tab-background: #989898;
$pin-bg-color: #555;
$pin-output-bg-color: #f3f3f3;
$pin-bg-color-hover: #7F7F7F;
$pin-bg-color-dirty: red;
$pin-bg-color-dirty-hover: lighten(red, 40%);
$pin-border-persisted: blue;
$pin-border-offline: red;
$warning: #f9a9ab;
