source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FSharp.Configuration
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Fleck
nuget LibGit2Sharp >= 0.22.0-pre20151023210959 prerelease
nuget LibGit2Sharp.NativeBinaries
nuget WebSharper
nuget FsPickler
nuget FsPickler.Json
nuget Fuchu
nuget FsCheck

github fsharp/FAKE modules/Octokit/Octokit.fsx
