plugins/packages/
plugins/build/x86/Debug
plugins/build/x64/Debug
plugins/build/x86/Release
plugins/build/x64/Release
plugins/SocketServer/bin/
plugins/SocketServer/obj/
plugins/Core/bin/
plugins/Core/obj/
plugins/WebServer/bin/
plugins/WebServer/obj/
plugins/ConsoleServer/bin/
plugins/ConsoleServer/obj/
plugins/AmqpNode/bin/
plugins/AmqpNode/obj/
plugins/FrontEnd/obj/
plugins/FrontEnd/bin/
plugins/Core/bin/
plugins/Core/obj/
plugins/build/
Nodes/bin/
Nodes/obj/
plugins/Nodes/bin/
plugins/Nodes/obj/
bin/
obj
