<div class="col-xs-12 pin-row">
  <div class="container-fluid pin-container">
    <div class="row inlay">
      <div class="cue-check col-xs-1">
        <input disabled class="cue-toggle" type="checkbox" data-size="mini" data-toggle="toggle" data-style="fast" data-onstyle="danger">
      </div>
      <div class="title col-xs-2">{{Pin.Name}}</div>
      <div class="slices col-xs-9"></div>
    </div>
  </div>
</div>

